{% extends "homepage/homepage_base.html" %}
{% load static template_web %}  
{% block title %} - Homepage{% endblock %}
{% block container %}

<div class="row">

  <!-- Sidebar Widgets Column -->
  <div class="col-md-4">

    <!-- Search Widget -->
    <div class="card my-4">
      <h5 class="card-header text-capitalize">cari produk peraturan</h5>
      <div class="card-body">
      <form>
        <div class="form-group col-sm-12 mb-2 mt-2 line-height-min">
          <label for="formJenisPeraturan" class="mb-0">Jenis Peraturan:</label>
          <input type="text" class="form-control mb-0" id="formJenisPeraturan">
        </div>
        <div class="form-group col-sm-12 mb-2 mt-2 line-height-min">
          <label for="formNomorPeraturan" class="mb-0">Nomor:</label>
          <input type="text" class="form-control mb-0" id="formNomorPeraturan">
        </div>
          <div class="form-group col-sm-12 mb-2 mt-2 line-height-min">
          <label for="formTahunPeraturan" class="mb-0">Tahun:</label>
          <input type="text" class="form-control mb-0" id="formTahunPeraturan">
        </div>
          <div class="form-group col-sm-12 mb-2 mt-2 line-height-min">
          <label for="formTentangPeraturan" class="mb-0">Subjek/Tentang:</label>
          <input type="text" class="form-control mb-0" id="formTentangPeraturan">
        </div>
        <div class="form-group col-sm-12 mb-2 mt-2 line-height-min">
          <label for="formStatusAkhir" class="mb-0">Status Akhir:</label>
          <input type="text" class="form-control mb-0" id="formStatusAkhir">
        </div>
        <div class="text-center">
          <button type="button" class="btn btn-primary">Cari Peraturan</button>
        </div>
      </form>
      </div>
    </div>

    <div class="card my-4">
      <h5 class="card-header text-capitalize">cari produk non peraturan</h5>
      <div class="card-body">
      <form>
        <div class="form-group col-sm-12 mb-2 mt-2 line-height-min">
          <label for="formJenisPeraturan" class="mb-0">Judul:</label>
          <input type="text" class="form-control mb-0" id="formJenisPeraturan">
        </div>
        <div class="form-group col-sm-12 mb-2 mt-2 line-height-min">
          <label for="formNomorPeraturan" class="mb-0">Pengarang:</label>
          <input type="text" class="form-control mb-0" id="formNomorPeraturan">
        </div>
          <div class="form-group col-sm-12 mb-2 mt-2 line-height-min">
          <label for="formTahunPeraturan" class="mb-0">Penerbit:</label>
          <input type="text" class="form-control mb-0" id="formTahunPeraturan">
        </div>
          <div class="form-group col-sm-12 mb-2 mt-2 line-height-min">
          <label for="formTentangPeraturan" class="mb-0">Kota Terbit:</label>
          <input type="text" class="form-control mb-0" id="formTentangPeraturan">
        </div>
        <div class="form-group col-sm-12 mb-2 mt-2 line-height-min">
          <label for="formStatusAkhir" class="mb-0">Tahun Terbit:</label>
          <input type="text" class="form-control mb-0" id="formStatusAkhir">
        </div>
        <div class="text-center">
          <button type="button" class="btn btn-info">Cari Non Peraturan</button>
        </div>
      </form>
      </div>
    </div>

    <!-- Side Widget -->
    <div class="card my-4">
      <h5 class="card-header">Statistik Pengunjung</h5>
      <div class="card-body">
        <!-- DUMMY PENGUNJUNG -->
      </div>
    </div>

  </div>

  <!-- Blog Entries Column -->
  <div class="col-md-8">
  {% if image_slideshow %}
  <div class="card mb-4" style="border: 0px !important" >
    <div class="slider" style="padding-top: 30px">
      {% for img in image_slideshow %}
      <div class="ssslide">
        <img src="{{ img.image.url }}" />
        {% if img.image_description %}
          <div class="title-sslide">
            <div class="background-sslide bg-warning"></div>
            <h4 class="text-header-sslide">{{ img.image_description }}</h4>
          </div>
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}


  {% if pengetahuan_hukum %}
    <h5 class="my-4 text-center" style="margin-bottom: 0 !important; background: #EFEFEF; border-radius: 10px 10px 0px 0px">
      Pengetahuan Hukum Praktis
    </h5>

    <!-- Blog Post -->
    {% if pengetahuan_hukum %}
    {% for hukum in pengetahuan_hukum %}
    <div class="card mb-2">
      <div class="row">
        <div class="col-md-12">
          <div class="card-body">
            <h5 class="card-title">{{ hukum.judul }}</h5>
            <p class="card-text">
                {{ hukum.konten|truncatewords_html:25|safe }}
                <a href="/halaman/{{ hukum.judul|url_name }}" class="text-muted">Baca selengkapnya </a>
            </p>
            <p class="card-text">
              <small class="text-muted">
              Diposting pada {{ hukum.created_at }} oleh
              <a href="#">{{ hukum.created_by }}</a>
              </small>
            </p>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    {% endif %}


    <!-- Pagination -->
    <ul class="pagination justify-content-center mb-4">
      <li class="page-item">
        <a class="page-link" href="#">Semua Pengetahuan Hukum</a>
      </li>
    </ul>
  {% endif %}

  {% if berita_hukum %}
    <h5 class="my-4 text-center" style="margin-bottom: 0 !important; background: #EFEFEF; border-radius: 10px 10px 0px 0px">
      Berita Hukum Terbaru
    </h5>

    <!-- Blog Post -->
    {% if berita_hukum %}
    {% for berita in berita_hukum %}
    <div class="card mb-3">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="{% if berita.image %}{{ berita.image.url }}{% else %}{% static 'web/img/jdhi_placeholder.png' %}{% endif %}" class="card-img" alt="{{ berita.judul }}">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{ berita.judul }}</h5>
            <p class="card-text">
                {{ berita.konten|truncatewords_html:15|safe }}
                <a href="/halaman/{{ berita.judul|url_name }}" class="text-muted">Baca selengkapnya </a>
            </p>
            <p class="card-text">
              <small class="text-muted">
              Diposting pada {{ berita.created_at }} oleh
              <a href="#">{{ berita.created_by }}</a>
              </small>
            </p>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    {% endif %}


    <!-- Pagination -->
    <ul class="pagination justify-content-center mb-4">
      <li class="page-item">
        <a class="page-link" href="#">Semua Berita Hukum</a>
      </li>
    </ul>
  {% endif %}
  </div>

</div>

{% endblock container %}